<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<div id="vue-app">
			<h1>v-for  循环</h1>
			<ul>
				<li v-for="character in characters">
					{{character}}
				</li>
			</ul>
			<ul>
				<li v-for="(user,index) in users">
					{{index+1}}. {{user.name}}-{{user.age}}
				</li>
			</ul>
			<template v-for="(user,index) in users">
				<h1>{{index+1}}. {{user.name}}</h1>
				<p>age - {{user.age}}</p>
			</template>
			<template v-for="(user,index) in users">
				<div v-for="(val,key) in user">
					<p>{{key}}-{{val}}</p>
				</div>
			</template>
		</div>
	</body>
	<script src="js/app8.js" type="text/javascript" charset="utf-8"></script>
</html>
