<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js</title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<div id="vue-app">
			<h1>双向数据绑定1</h1>
			<label>Name:</label>
			<input ref='name' type="text" v-on:keyup='logName'/>
			<span>{{name}}</span>
			<label>Age:</label>
			<input ref='age' type="text" v-on:keyup='logAge'/>
			<span>{{age}}</span>
			
			<!--<h1>双向数据绑定2</h1>
			<label>Name:</label>
			<input ref='name' type="text" v-model='name'/>
			<span>{{name}}</span>
			<label>Age:</label>
			<input ref='age' type="text" v-model='age'/>
			<span>{{age}}</span>-->
		</div>
	</body>
	<script src="js/app4.js" type="text/javascript" charset="utf-8"></script>
</html>
